.orders {
  margin-top: 20px;
}

.orders table {
  width: 100%;
  margin: 10px auto;
  border-spacing: 0;
}

.orders th {
  padding: 5px 5px;
  background-color: #f4af85;
  color: black;
  text-align: left;
}

.orders td {
  padding: 12px 5px;
  text-align: left;
  border-bottom: 1px solid #F4C7AB;
}

.orders td:nth-child(4) {
  text-align: center;
}